<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input type="text" class="form-control" id="first_name" formControlName="first_name">
    </div>
    <div class="col-lg-6 mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="last_name" formControlName="last_name">
    </div>
    <div class="col-lg-6 mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <div class="col-lg-6 mb-3">
      <label for="status" class="form-label">Status</label>
      <select id="status" class="form-select" formControlName="status" required>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    <div class="col-lg-6 mb-3" *ngIf="isNewRecord">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>
    </div>
    <div class="col-lg-6 mb-3" *ngIf="isNewRecord">
      <label for="email" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" required min="3" max="16">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
