th {
  cursor: pointer;
}

.btn.btn-just-icon {
  border-radius: 50px !important;
  height: 30px;
  width: 30px;
  min-width: 30px;
  padding: 7px;
  line-height: 0;
  font-size: var(--font-lg);
  border: 1px solid var(--col-picton-blue);
}
